.loginUser{
    margin-top: 48px;
}

.sec-welcome{
    margin-bottom: 24px;
}
.lable-welcome {
    text-align: center;
}

.lable-welcome span{
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.lable-username{
    text-align: center;
}

.lable-username span{
    font-size: 14px;
    line-height: 20px;
    color: #808080;
}

.inputlable{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    color: #3c3c3c;
}

.form-control-lg{
    line-height: 38px !important;
    background: #ffffff;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.btn-signIn{
    line-height: 38px;
    background: #0696d7;
    border-radius: 4px;
}

