.formItem{
    margin-bottom: 16px;
}
.inputlable{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 22px;
    color: #3c3c3c;
}

.btn-signIn{
     font-size: 16px;
     line-height: 22px;
     color: #ffffff;
}

.form-control-lg{
    line-height: 22px !important;
    font-size: 16px;
    color: #3c3c3c;
}

.signInUser{
    margin-top: 48px;
}

.signInlable{
    margin-bottom: 24px;
}

.lable-error{
    background: #dcdcdc;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
}

.form-signIn{
    text-align: center;
}

.lable-sign-In{
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}