

.layout-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.footer-lable {
    text-align: center;
}

.footer-lable span{
   font-size: 14px;
   line-height: 20px;
   color: #999999;
}

.footer-learn-more{
    text-align: center;
}

.footer-learn-more span {
   font-size: 14px;
   line-height: 20px;
   color: #006eaf;
}