

   
    <div class="layout-app">
        
            <!-- All routes render here -->
            <router-outlet></router-outlet>
       
    </div>
    <div class="layout-footer">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 footer-lable"><span >Your account for everything Autodesk</span></div>
              <div class="col-md-3"></div>
            </div> 

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 footer-learn-more"><span >Learn more</span></div>
                <div class="col-md-3"></div>
            </div>
    </div>



<!--<router-outlet></router-outlet> -->
