.invalid-tooltip{
    font-size: 14px;
    line-height: 20px;
    background-color: #666666;
    width: 98%;
}

.formItem{
    margin-bottom: 16px;
}
.inputlable{
    margin-bottom: 8px;
}

.signupForm{
    margin-bottom: 32px;
    margin-top: 48px;
}

.form-signIn{
    text-align: center;
}